# Mercado Pago Credentials
MP_CLIENT_ID=tu_client_id
MP_CLIENT_SECRET=tu_client_secret
MP_REDIRECT_URI=https://tudominio.com/api/webhooks/mercadopago/auth
MP_ACCESS_TOKEN=

# Master User Password
MASTER_PASSWORD=una_contraseña_segura

# Server
PORT=5000
FRONTEND_URL=https://tudominio.com
WEBHOOK_URL=https://tudominio.com

# Auth Secret
AUTH_SECRET=cambia_esta_clave_secreta
